/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


* {
	box-sizing: border-box;
	max-width: 100%;
	
}

/* --------------------------DESKTOP INDEX---------------------------- */
.container {
	width: 1050px; 
	margin: 0 auto; 
  padding: 2vh 4%; 
} 

/* Navigation Content */
.nav-wrapper {
	display: flex;  
	justify-content: center;
	/* position: fixed; */
	/* top: 0;
	left: 0;
	right: 0; 
	z-index: 9999;  
	background-color: rgba(84, 84, 230, 0.808);  */
	width: 100%;
	height: 5vh;
	/* border: 1px solid black;  */
}
.nav-wrapper a { 
	margin: .85vh 1vw 0 1.5vw; 
	width: 10vw;
	height: 3vh;
	font-size: 1.15rem;
	text-decoration: none;
	text-align: left;
	 color: gray; 
	font-weight: bold; 
}

.nav-wrapper a:hover {
	 color: black;  
}


.nav-logo { 
	margin-left: 1%; 
	width: 10;
	height: 36px; 
}
/* End Navigation */

/* Header Content */

.top {
	 display: flex;    
	 align-items: center;
	 justify-content: space-around;
	 border-bottom: 2px solid black; 
	 height: 65vh; 
	 width: 100%;	   
}


/* Left Image */
.header-wrapper {
	height: 40vh;
	width: 45%;
}
.header-wrapper h1 {
	font-size: 4.75rem;
	letter-spacing: 0.75rem;
	text-align: center;
	margin-left: 5%;  
	margin-right: 5%; 
	margin-top: 2.5vh; 
}
.top div {
	width: 40%; 
}


/* Button Styles */
.button {
	width: 40%;
	height: 4.5vh;
	margin-left: 28%; 
	border: 1px solid black;  
	cursor: pointer;
	text-align: center;
	font-size: 1.15em;
}
.button:hover {
	background: gray; 
	color: white; 
}

/* Header Image */
.index-image {
	  
	width: 100%; 
}

/* Main Content */

/* Top paragraph box styles */

 .top-paragraphs {   
	 display: flex; 
	 justify-content: space-between;
	 align-items: center; 
	 width: 100%;   
	 height: 20vh; 
	 margin-bottom: 3vh; 
	 margin-top: 5vh; 
}
.top-paragraphs div {
	width: 48%; 
}

.middle-image {
	display: flex; 
	align-items: stretch;
	height: 27vh; 
width: 100%; 
margin-bottom: 4vh; 
}
.middle-img {
	width: 100%; 
}


/* Top Paragraph Font Styles */

.top-paragraphs h2 {
	font-size: 1.5rem; 
}
.top-paragraphs p {
	font-size: 1.1rem; 
	line-height: 1.75rem;
}



/* Bottom Paragraph Box Styles */

.bottom-paragraphs {
	display: flex; 
	justify-content: space-between;
	border-bottom: 2px solid black; 
	width: 100%; 
	height: 29vh; 
	}
.bottom-paragraphs div {
	width: 32%;
	height: 22vh;    
}
.services {
	margin-right: 1vw; 
}
 .product {
	margin-right: 1vw; 
} 

/* Bottom Paragraph Font Styles */

.bottom-paragraphs p {
	padding: 0 0.25%; 
	font-size: 1.1rem;
	line-height: 1.5rem;
}

.bottom-paragraphs h2 {
	font-size: 1.5rem;
	margin-bottom: 2vh; 
}

/* Footer */
  
.index-footer {
	display: flex; 
	align-items: center; 
	height: 37vh; 
	width: 100%;	
}
.footer-content h2 {
	font-size: 1.5rem;
}
.footer-content p {
	line-height: 1.5rem;
	margin-bottom: 3vh; 
	margin-top: 3.5vh; 
	font-size: 1.2rem; 
}
.copyright {
	text-align: center;
	font-size: 1.2rem;
	margin-right: 5%;
}

/* ------------------------MEDIA QUERY 800PX-------------------------- */
/* -----------------------------INDEX--------------------------------- */
@media (max-width: 800px) {

  /* Navigation */
.nav-wrapper {
  flex-flow: row wrap;
  background-color: white;
  border: none;
  height: 15vh; 
  justify-content: space-between; 
}
.nav-wrapper a {
  color: gray;  
}
.nav-wrapper a:hover {
  color: black;
}
.nav-wrapper:hover {
  border: none; 
}
.nav-wrapper:nth-of-type(7) {
  order: 1;
}
.nav-wrapper a:nth-of-type(1) {
  order: 2;
}
.nav-wrapper a:nth-of-type(2) {
  order: 3;
}
.nav-wrapper a:nth-of-type(3) {
  order: 4;
}
.nav-wrapper a:nth-of-type(4) {
  order: 5;
}
.nav-wrapper a:nth-of-type(5) {
  order: 6;
}
.nav-wrapper a:nth-of-type(6) {
  order: 7;
}
/* Nav Logo */
.nav-logo {
  width: 100%; 
  justify-self: center; 
  text-align: center;
}

/* Header Box */
.top {
  height: 47vh; 
}

  .header-wrapper {
    width: 100%; 
    align-items: flex-start;
    margin-bottom: 15vh; 
  }
  .button {
    width: 30%; 
    margin-left: 34%; 
  }
  .index-image {
    display: none; 
  }

/* Top Paragraphs */
.top-paragraphs {
  height: 29vh; 
  margin-bottom: 2vh; 
  margin-top: 4vh; 
}
.top-paragraphs div {
  height: 29vh; 
}
.bottom-paragraphs {
  height: 35vh; 
}

/* Bottom Paragraphs */
.bottom-paragraphs div {
  padding: 0 1%; 
}

/* Footer */
.index-footer {
  height: 34vh; 
  margin-top: 2vh; 
  margin-bottom: 1vh;
}
.footer-content {
  line-height: 0.75rem; 
}
}

/* ---------------------------------MEDIA QUERY 500PX--------------------------------- */
/* ------------------------------INDEX---------------------------------- */
@media (max-width: 500px) {
.container {
  padding: 0 .5%; 
}
/* Navigation */
  .nav-wrapper {
    height: 68vh; 
    align-content: space-around; 
}

  .nav-wrapper a {
    width: 100%;
    font-size: 1.3rem;
    border-bottom: 1px solid gray;text-align: center; 
    margin-bottom: 1vh; 
    height: 5.5vh; 
    align-self: center;
  }
  .nav-logo {
    border-bottom: 1px solid gray;
    height: 7vh; 
  }

/* Header Wrapper Button */
  .header-wrapper {
    margin-top: 4vh; 
    padding: 2vh 0; 
  }


  .button {
    width: 40%; 
    margin-left: 28%; 
  }

/* Top Paragraphs */
  .top-paragraphs {
    display: flex; 
    flex-flow: row wrap;
    align-content: center;
    height: 44.5vh; 
    width: 100%; 
  }
  .top-paragraphs div {
    height: 21vh; 
    width: 100%; 
     
  }
  .top-paragraphs {
    line-height: 1rem; 
  }
  .features {
    margin-bottom: 2vh;
  }
/* Bottom Paragraphs */
  .bottom-paragraphs {
    display: flex; 
    flex-flow: row wrap;
    height: 70vh; 
  }
  .bottom-paragraphs div {
    width: 100%; 
  }

/* Footer */
  .footer-content {
    line-height: 1rem; 
  }
}

/* -----------------------------MOBILE First Services--------------------------------*/ 
/* ----------------Navigation--------------- */
.services-container {
  width: 1050px; 
  margin: 0 auto; 
  padding: 2vh .5%; 
}

.services-nav-wrapper {
  display: flex; 
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 100%; 
  height: 53.75vh; 
  
}

.services-nav-wrapper a {
  width: 100%; 
  font-size: 1.3rem; 
  text-decoration: none;
  color: gray;
  text-align: center;
  border-bottom: 1px solid gray;
  margin-bottom: 1.5vh;
  height: 8vh; 
  padding-top: 2vh; 
}

.services-nav-wrapper a:hover {
  color: black; 
}

.logo-nav {
  display: flex;
  justify-content: center;
  height: 8vh; 
  width: 100%; 
  text-align: center;
  border-bottom: 1px solid gray; 
  margin-bottom: 3vh;
}

/* -------------------Services Header--------------------- */

.services-header-wrapper {
  display: flex;
  flex-flow: row wrap;
  height: 38vh; 
  margin-bottom: 4vh;
}

.services-header-wrapper div {
  width: 100%; 
}

.service-box {
  border-bottom: 2px solid black;
  padding: 0 2%; 
}
/* -------Services Header Font Styles------- */
.service-box h1 {
  font-size: 1.5em;
}
.service-box p {
  line-height: 1.15em;
}

/* -----------------------Grid Area------------------------ */
.boxes {
  display: flex; 
  flex-flow: row wrap;
  height: 190vh; 
}
.services-grid {
  width: 100%; 
  border: 1px solid black;
  display: flex; 
  flex-direction: column; 
  justify-content: space-around; 
  height: 30vh; 
  background: rgba(211, 211, 211, 0.295);
}

/* ---------Grid Area Font Styles--------- */
.services-grid h2 {
  text-align: center; 
  font-size: 1.25em;
  margin-top: 2vh; 
}
.services-grid p {
  padding: 0 2%; 
  line-height: 1.25em; 
}

/* ---------Grid Area Button Styles------- */
.service-button {
  width: 50%;
  height: 4vh;  
  text-align: center; 
  margin-left: 25%; 
  border: 2px solid black; 
  border-radius: 5px; 
}

/* ----------------------Service Footer--------------------- */
.services-footer {
  display: flex; 
  flex-flow: row wrap;
  height: 74vh; 
}
.services-footer div {
  width: 100%; 
}
.services-info-box {
  display: flex; 
  flex-direction: column;
  justify-content: space-around;
  height: 38vh; 
  width: 100%; 
}

/* --------Service Footer Font Styles-------- */
.services-info-box h2 {
  font-size: 1.25em;
}
.services-info-box p {
  line-height: 1.25em; 
   
}
.services-info-box ul li {
  list-style: square;
  line-height: 1.5em;
  margin: 0 4%; 
}

/* -----------Service Footer Image---------- */
.services-info-img {
  align-self: stretch;
  width: 100%; 
  height: 39vh; 
}

/* -------Service Copyright-------- */
.services-copyright {
  color: white; 
}
 /* ------------------------------Services Media Query 800min------------------------------- */

 
 @media  (min-width: 800px) {

   .services-container {
     padding: 2vh 1.5%; 
   }

  /* ----------------Navigation---------------*/
   .services-nav-wrapper {
     flex-flow: row nowrap; 
     height: 8vh; 
     width: 100%; 
   }
   .services-nav-wrapper a {
     width: 17%; 
     border-bottom: none; 
     height: 5vh; 
     justify-content: space-between;
   }
   .logo-nav {
     height: 5vh; 
     border-bottom: none; 
     margin-bottom: 0; 
   }

   /* ------------Services Header------------- */

   .services-header-wrapper {
     height: 47vh; 
   }
   .services-header-img {
     margin-left: 2%; 
     justify-self: center;
   }
   .service-box {
     padding: 0 4%; 
   }

   /* ----Services Header Font Styles---- */
   .service-box p {
     line-height: 1.5em;
   }

   /* ---------------Grid Area---------------- */
   .boxes {
     height: 97vh; 
     justify-content: space-between;

   }
   .services-grid {
     width: 49%; 
   }

   /* ------Grid Area Font Styles------- */
   .services-grid h2 {
     text-align: left;
     padding-left: 2%; 
   }

   /* -----Grid Area Button Styles------- */
   .service-button {
     width: 35%; 
     margin-left: 2%; 
     font-size: 0.85em;
      
   }

 }